<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Hellosss [[prop2]]!</h3>

  <div class="container">
      <div class="row">

      </div>
          <img src="https://image.flaticon.com/icons/svg/265/265667.svg" alt="" class="col-lg-3 col-xs-12">
            <button type="button" name="button"on-click="incrementar"  class="btn btn-warning col-lg-3 col-xs-12">carga datos</button>
            <input type="text"  placeholder=[[prop3]] name="" value="{{prop1::input}}" />
      <table class="table table-striped">
        <head >
          <th>titulo 1

          </th>
          <th>titulo 2

          </th>
          <th>titulo 3

          </th>

        </head>
        <tbody>

        <tr>
          <td>[[prop2]]

          </td>
          <td>[[prop1]]

          </td>
          <td>celda 3

          </td>
        </tr>
        <tr>
          <td>celda 1

          </td>
          <td>celda 2

          </td>
          <td>celda 3

          </td>
        </tr>
        <tr>
          <td>celda 1

          </td>
          <td>celda 2

          </td>
          <td>celda 3

          </td>
        </tr>
      </tbody>

      </table>

    </div>
  </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'indique login'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 +1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }



    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
